{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="container w-50">
        <h1 class="text-black">Contactez moi</h1>
        {{ form_start(form) }}
        <form>
            {{ form_widget(form) }}
            <button class="btn border">Envoyer</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}
