{% extends 'base.html.twig' %}

{% block title %}Hello SkillController!{% endblock %}
{% block body %}

    <div class="container bootstrap snippets bootdeys">
        <div class="row">
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    {% for skill in skills %}
                        <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                            <div class="content">

                                <div class=" text-black hover-zoom">
                                    <img src="{{ skill.image }}" width="100px">
                                </div>
                                <p class="description">{{ skill.name }}</p>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}